{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4>material List</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Author</th>
                <th scope="col">Year</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materials %}
            <tr>
                <td>{{ material.title }}</td>
                <td>{{ material.description }}</td>
                <td>{{ material.author }}</td>
                <td>{{ material.year }}</td>
                <td><a type="button" class="btn btn-warning" href="/material-update/{{ material.id }}">Update</a>
                    <a type="button" class="btn btn-danger" href="/material-delete/{{ material.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{%url 'material-create' %}">Create</a>
</div>
{% endblock %}