{% extends "base.html" %}
{% block content %}
<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Custo</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">Nome do Item</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Tempo</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cost in costs %}
                        <tr>
                            <td>{{ cost.name }}</td>
                            <td>{{"R$ "}}{{ cost.price|floatformat:2}}</td>
                            <td>{{ cost.hours }}{{" "}}{{ cost.time }}</td>
                            <td>
                                <div class="d-none d-lg-block">
                                    <a href="/cost-update/{{ cost.id }}" class="btn btn-warning">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a data-toggle="modal" data-target="#modal_{{ cost.id }}" class="btn btn-danger">
                                        <span class="icon">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="d-lg-none text-center align-middle btn-group">
                                    <a href="/cost-update/{{ cost.id }}" class="btn btn-warning">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a data-toggle="modal" data-target="#modal_{{ cost.id }}" class="btn btn-danger">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </a>
                                </div>
                            </td>
                            <div class="modal fade" id="modal_{{ cost.id }}" tabindex="-1" role="dialog" aria-labelledby="label_{{ cost.id }}"
                                    aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="label_{{ cost.id }}">Tem certeza que deseja excluir?</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">Clique em excluir pra excluir o custo fixo {{cost.name}}</div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                    <a href="/cost-delete/{{ cost.id }}" class="btn btn-primary">Excluir</a>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            <a href="{%url 'cost-create' %}" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
                </span>
                <span class="text">Novo Custo</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}