{% extends "base.html" %}
{% block content %}
<div class="card-body">
    <h4>Ingredientes Cadastrados</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.title }}</td>
                <td><a type="button" class="btn btn-warning" href="/ingredient-update/{{ ingredient.id }}">Update</a>
                    <a type="button" class="btn btn-danger" href="/ingredient-delete/{{ ingredient.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a type="button" class="btn btn-success" href="{%url 'ingredient-create' %}">Cadastrar</a>
</div>
{% endblock %}