{% extends "base.html" %}
{% block content %}

<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Insumos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome do Item</th>
                            <th>Quantidade do Item</th>
                            <th>Preço</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in ingredients %}
                        <div class="modal fade" id="modal_{{ ingredient.id }}" tabindex="-1" role="dialog" aria-labelledby="label_{{ ingredient.id }}"
                                        aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="label_{{ ingredient.id }}">Tem certeza que deseja excluir?</h5>
                                        <button  class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Clique em excluir pra excluir o ingrediente {{ingredient.name}}</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                        <a href="/ingredient-delete/{{ ingredient.id }}" class="btn btn-primary">Excluir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <tr>
                            <td>{{ ingredient.name }}</td>
                            <td>{{ ingredient.quantity }}{{" "}}{{ ingredient.get_measure_display }}</td>

                            {% if median_ingredients %}

                            {% for median_ingredient in median_ingredients %}

                                {% if median_ingredient.1.pk_value == ingredient.pk %}

                                    {% if median_ingredient.2.price__avg < ingredient.price %}

                            <td class="text-danger">{{"R$ "}}{{ ingredient.price|floatformat:2}}</td>

                                    {% else %}
                            <td class="text-success">{{"R$ "}}{{ ingredient.price|floatformat:2}}</td>

                                    {% endif %}

                                {% endif %}

                            {% endfor %}


                            {% else %}

                            <td class="text-success">{{"R$ "}}{{ ingredient.price|floatformat:2}}</td>

                            {% endif %}




                            <td>
                                <div class="text-center align-middle">
                                    <a href="/ingredient-update/{{ ingredient.id }}" class="btn btn-warning">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a data-toggle="modal" data-target="#modal_{{ ingredient.id }}" class="btn btn-danger">
                                        <span class="icon">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </a>
                                </div>


                                <div class="d-lg-none text-center align-middle btn-group">
                                    <a href="/ingredient-update/{{ ingredient.id }}" class="btn btn-warning">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a data-toggle="modal" data-target="#modal_{{ ingredient.id }}" class="btn btn-danger">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>

            <a href="{%url 'ingredient-create' %}" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                <i class="fas fa-plus"></i>
                </span>
                <span class="text">Novo Insumo</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}