{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Mão de Obra</h1>
<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Cadastre nova Mão de Obra</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">Nome do Serviço</th>
                    <th scope="col">Salário Médio</th>
                    <th scope="col">Horas Mensais</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for labor in labors %}
                <tr>
                    <td>{{ labor.name }}</td>
                    <td>{{"R$ "}}{{ labor.salary|stringformat:"0.2f"}}</td>
                    <td>{{ labor.hours }}{{ "/" }}{{ labor.time }}</td>
                    <td>
                        <div>
                            <div class="d-none d-lg-block">
                                <a href="/labor-update/{{ labor.id }}" class="btn btn-warning btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <span class="text">Atualizar</span>
                                </a>
                                <a data-toggle="modal" data-target="#modal_{{ labor.id }}" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Excluir</span>
                                </a>
                            </div>
                            <div class="d-lg-none row">
                                <a href="/labor-update/{{ labor.id }}" class="btn btn-warning">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </a>
                                <a data-toggle="modal" data-target="#modal_{{ labor.id }}" class="btn btn-danger">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                            </div>
                            <div class="modal fade" id="modal_{{ labor.id }}" tabindex="-1" role="dialog" aria-labelledby="label_{{ labor.id }}"
                                            aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="label_{{ labor.id }}">Tem certeza que deseja excluir?</h5>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                             </button>
                                         </div>
                                        <div class="modal-body">Clique em excluir pra excluir o material {{labor.name}}</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                            <a href="/labor-delete/{{ labor.id }}" class="btn btn-primary">Excluir</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{%url 'labor-create' %}" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
        </span>
        <span class="text">Cadastrar</span>
    </a>
</div>
</div>
{% endblock %}