{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Mão de Obra</h1>
<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Cadastre nova Mão de Obra</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for labor in labors %}
                <tr>
                    <td>{{ labor.salario }}</td>
                    <td>{{ labor.horas }}</td>
                    <td>{{ labor.tempo }}</td>
                    <td><a type="button" class="btn btn-warning" href="/labor-update/{{ labor.id }}">Atualizar</a>
                        <a type="button" class="btn btn-danger" href="/labor-delete/{{ labor.id }}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a type="button" class="btn btn-success" href="{%url 'labor-create' %}">Cadastrar</a>
</div>
</div>
{% endblock %}