{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Materiais</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cadastrar Quantidade Usada de Materiais</h6>
    </div>
    <div class="card-body">
        {% load bootstrap %}
        <form method="post">
            {{ form|bootstrap }}
            {% csrf_token %}
            <a type="button" class="btn btn-danger" href="{%url 'percent-material-list' %}">Cancel</a>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}