{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Produtos</h1>
<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listar Todos Produtos</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>
                        <a type="button" class="btn btn-primary" href="/product/{{ product.id }}"><i class="fas fa-pizza-slice"></i> Ver Produto</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a type="button" class="btn btn-success" href="{%url 'ingredient-create' %}"><i class="fas fa-plus"></i> Cadastrar Produto</a>
    </div>
</div>
</div>
{% endblock %}