{% extends "base.html" %}
{% block content %}
{% load mathfilters %}
{% load l10n %}

<h1 class="h3 mb-2 text-gray-800">Produto {{ product.name }}</h1>
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Preço de Venda (Unidade)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                ${{price_unity}}
                                <div class="text-xs font-weight-bold text-success mb-1">
                                    RETORNO % {{roi|floatformat:2}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                                Preço Mais Barato (Unidade) </div>
                            {% if all_total_costs > 0 and product.quantity > 0 %}
                            {% with minor_price=all_total_costs|div:product.quantity %}

                            <div class="h5 mb-0 font-weight-bold text-gray-800">${{minor_price|floatformat:2}}</div>
                            {% endwith %}
                            {% else %}
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$0</div>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Quantidade (Unidade) </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{product.quantity}}</div>
                        </div>
                        <div class="col-auto">
                            <a data-toggle="modal" data-target="#quantityModal" class="btn btn-primary btn-sm">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Lucro Desejado </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$ {{product.profit|floatformat:2}}</div>
                        </div>
                        <div class="col-auto">
                            <a data-toggle="modal" data-target="#profitModal" class="btn btn-primary btn-sm">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Ingredientes</h6>
            <h6 class="m-0 font-weight-bold text-danger">Custo Total: R$ {{total_ingredients}}</h6>
            
        </div>
        <div class="card-body">
            {% if percent_ingredients %}
            <div class="table-responsive" style="margin-top:5px">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Ingrediente</th>
                            <th scope="col">Quantidade Comprada</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade Utilizada</th>
                            <th scope="col">Custo</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for percent_ingredient in percent_ingredients %}
                        <tr>
                            <td>{{ percent_ingredient.ingredient.name }}</td>
                            <td>{{ percent_ingredient.ingredient.quantity }}{{ " "}}{{ percent_ingredient.ingredient.measure }}</td>
                            <td>R$ {{ percent_ingredient.ingredient.price|floatformat:2|localize }}</td>
                            <td>{{ percent_ingredient.percent }}{{" "}}{{percent_ingredient.measure }}</td>
                            {% if percent_ingredient.measure != percent_ingredient.ingredient.measure %}
                                {% with calc=percent_ingredient.ingredient.quantity|mul:1000 %}
                                {% with cost_ingredient=percent_ingredient.percent|div:calc|mul:percent_ingredient.ingredient.price %}
                                <td>R$ {{cost_ingredient|floatformat:2|localize}}</td>
                                {% endwith %}
                                {% endwith %}
                            {% else %}
                                {% with cost_ingredient=percent_ingredient.percent|div:percent_ingredient.ingredient.quantity|mul:percent_ingredient.ingredient.price %}
                                <td> R$ {{ cost_ingredient|floatformat:2|localize}}</td>
                                 {% endwith %}
                            {% endif %}

                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="/percent-ingredient-update/{{ percent_ingredient.id }}" class="btn btn-primary">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a data-toggle="modal" data-target="#modal_{{ percent_ingredient.id }}" class="btn btn-danger"> <i class="fas fa-trash"></i></a>
                                    <div class="modal fade" id="modal_{{ percent_ingredient.id }}" tabindex="-1" role="dialog" aria-labelledby="label_{{ percent_ingredient.id }}"
                                                aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="label_{{ percent_ingredient.id }}">Tem certeza que deseja excluir?</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">Clique em excluir pra excluir o Ingrediente {{percent_ingredient.ingredient.name}}</div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                    <a href="/percent-ingredient-delete/{{ percent_ingredient.id }}" class="btn btn-primary">Excluir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="card mb-4 py-3 border-left-success">
                <div class="card-body">
                    Sem Ingredientes Adicionados
                </div>
            </div>
            {% endif %}
            <a data-toggle="modal" data-target="#ingredientModal" class="btn btn-success btn-icon-split">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Ingrediente</span>
            </a>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-cente">
            <h6 class="m-0 font-weight-bold text-primary">Materiais</h6>
            <h6 class="m-0 font-weight-bold text-danger">Custo Total: R$ {{total_materials}}</h6>
        </div>
        <div class="card-body">

            {% if percent_materials %}
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Material/Embalagem</th>
                            <th scope="col">Quantidade Comprada</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Quantidade Utilizada</th>
                            <th scope="col">Custo</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for percent_material in percent_materials %}
                        <tr>
                            <td>{{ percent_material.material.name }}</td>
                            <td>{{ percent_material.material.quantity }}{{ " "}}{{ percent_material.material.measure }}</td>
                            <td>R$ {{ percent_material.material.price|floatformat:2|localize }}</td>
                            <td>{{ percent_material.percent }}</td>
                            <td> R$ {{percent_material.percent|div:percent_material.material.quantity|mul:percent_material.material.price|floatformat:2|localize }}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="/percent-material-update/{{ percent_material.id }}" class="btn btn-primary">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a data-toggle="modal" data-target="#modal_{{ percent_material.id }}" class="btn btn-danger"> <i class="fas fa-trash"></i></a>
                                    <div class="modal fade" id="modal_{{ percent_material.id }}" tabindex="-1" role="dialog" aria-labelledby="label_{{ percent_material.id }}"
                                                aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="label_{{ percent_material.id }}">Tem certeza que deseja excluir?</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">Clique em excluir pra excluir a porcentagem do Material {{percent_material.material.name}}</div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                    <a href="/percent-material-delete/{{ percent_material.id }}" class="btn btn-primary">Excluir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% else %}
            <div class="card mb-4 py-3 border-left-warning">
                <div class="card-body">
                    Sem Materiais Adicionados
                </div>
            </div>
            {% endif %}
            <a data-toggle="modal" data-target="#materialModal" class="btn btn-success btn-icon-split">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Material</span>
            </a>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Mãos de Obras</h6>
            <h6 class="m-0 font-weight-bold text-danger">Custo Total: R$ {{total_labors}}</h6>
        </div>
        <div class="card-body">
        {% if percent_labors%}
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Mão de Obra</th>
                            <th scope="col">Salário</th>
                            <th scope="col">Horas/Mês</th>
                            <th scope="col">Horas Utilizadas</th>
                            <th scope="col">Custo</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for percent_labor in percent_labors %}
                        <tr>
                            <td>{{ percent_labor.labor.name }}</td>
                            <td>R$ {{ percent_labor.labor.salary|floatformat:2|localize }}</td>
                            <td>{{ percent_labor.labor.hours }}</td>
                            <td>{{ percent_labor.hours }}</td>
                            {% with cost_labor=percent_labor.hours|mul:percent_labor.labor.salary|div:percent_labor.labor.hours %}
                            <td> R$ {{cost_labor|floatformat:2|localize }}</td>
                            {% endwith %}
                            <td class="text-center">
                               <div class="btn-group">
                                <a class="btn btn-primary" href="/percent-labor-update/{{ percent_labor.id }}" class="btn btn-primary">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </a>
                                <a data-toggle="modal" data-target="#modal_{{ percent_labor.id }}" class="btn btn-danger"> <i class="fas fa-trash"></i></a>
                                <div class="modal fade" id="modal_{{ percent_labor.id }}" tabindex="-1" role="dialog" aria-labelledby="label_{{ percent_labor.id }}"
                                            aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="label_{{ percent_labor.id }}">Tem certeza que deseja excluir?</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">Clique em excluir pra excluir a porcentagem do Mão de Obra {{percent_labor.labor.name}}</div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                <a href="/percent-labor-delete/{{ percent_labor.id }}" class="btn btn-primary">Excluir</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}
            <div class="card mb-4 py-3 border-left-primary">
                <div class="card-body">
                    Sem Mãos de Obras Adicionadas
                </div>
            </div>
        {% endif %}
        <a data-toggle="modal" data-target="#laborModal" class="btn btn-success btn-icon-split">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Mão de Obra</span>
        </a>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-cente">
            <h6 class="m-0 font-weight-bold text-primary">Custos Fixos</h6>
            <h6 class="m-0 font-weight-bold text-danger">Custo Total: R$ {{total_costs}}</h6>
        </div>
        <div class="card-body">
        {% if percent_costs%}
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Custo Fixo</th>
                            <th scope="col">Preço</th>
                            <th scope="col">Horas/Mês</th>
                            <th scope="col">Horas Utilizadas</th>
                            <th scope="col">Custo</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for percent_cost in percent_costs %}
                        <tr>
                            <td>{{ percent_cost.cost.name }}</td>
                            <td>R$ {{ percent_cost.cost.price|floatformat:2|localize }}</td>
                            <td>{{ percent_cost.cost.hours }}</td>
                            <td>{{ percent_cost.hours }}</td>
                            {% with cost_cost=percent_cost.hours|mul:percent_cost.cost.price|div:percent_cost.cost.hours %}
                            <td> R$ {{cost_cost|floatformat:2|localize }}</td>
                            {% endwith %}
                            <td class="text-center">
                               <div class="btn-group">
                                <a class="btn btn-primary" href="/percent-cost-update/{{ percent_cost.id }}" class="btn btn-primary">
                                    <span class="icon">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </a>
                                <a data-toggle="modal" data-target="#modal_{{ percent_cost.id }}" class="btn btn-danger"> <i class="fas fa-trash"></i></a>
                                <div class="modal fade" id="modal_{{ percent_cost.id }}" tabindex="-1" role="dialog" aria-labelledby="label_{{ percent_cost.id }}"
                                            aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="label_{{ percent_cost.id }}">Tem certeza que deseja excluir?</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">Clique em excluir pra excluir a porcentagem do Custo {{percent_cost.cost.name}}</div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                <a href="/percent-cost-delete/{{ percent_cost.id }}" class="btn btn-primary">Excluir</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}
            <div class="card mb-4 py-3 border-left-danger">
                <div class="card-body">
                    Sem Custos Fixos Adicionados
                </div>
            </div>
        {% endif %}
        <a data-toggle="modal" data-target="#costModal" class="btn btn-success btn-icon-split">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Custo Fixo</span>
        </a>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Outros Custos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Outros Custos</th>
                            <th scope="col">Custos Incalculáveis (%)</th>
                            <th scope="col">Taxa de Marketplace </th>
                            <th scope="col">Impostos</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{"R$ "}}{{ product.another_expenses|floatformat:2|localize}}</td>
                            <td>{{"R$ "}}{{ product.incalculable_expenses|floatformat:2|localize}}</td>
                            <td> {{product.marketplace_tax }} %</td>
                            <td> {{product.taxes }} %</td>
                            <td class="text-center">
                                <a type="button" class="btn btn-primary" href="/product-update/{{ product.id }}"> <i class="fas fa-edit"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-cente">
            <h6 class="m-0 font-weight-bold text-primary">Simuladores</h6>
        </div>
        <div class="card-body">
        {% if percent_discounts%}
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Porcentagem</th>
                            <th scope="col">Preço com Desconto</th>
                            <th scope="col">Lucro com Desconto</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for percent_discount in percent_discounts %}
                        <tr>
                            <td>{{ percent_discount.percent }} %</td>
                            {% with percent_discount_100=percent_discount.percent|div:100  %}
                            {% with price_percent_discount=price_unity|mul:percent_discount_100  %}
                            {% with price_discount=price_unity|sub:price_percent_discount  %}
                            {% with price_discount_quantity=price_discount|mul:product.quantity  %}
                            {% with profit_discount=price_discount_quantity|sub:all_total_costs %}


                            <td>R$ {{ price_discount|floatformat:2 }}</td>
                            <td>R$ {{ profit_discount|floatformat:2 }}</td>
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            <td class="text-center">
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="/percent-discount-update/{{ percent_discount.id }}" class="btn btn-primary">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a data-toggle="modal" data-target="#modal_{{ percent_discount.id }}" class="btn btn-danger"> <i class="fas fa-trash"></i></a>
                                    <div class="modal fade" id="modal_{{ percent_discount.id }}" tabindex="-1" role="dialog" aria-labelledby="label_{{ percent_discount.id }}"
                                                aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="label_{{ percent_discount.id }}">Tem certeza que deseja excluir?</h5>
                                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">Clique em excluir pra excluir o Simulador {{percent_discount.percent}} %</div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                                                    <a href="/percent-discount-delete/{{ percent_discount.id }}" class="btn btn-primary">Excluir</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}
            <div class="card mb-4 py-3 border-left-danger">
                <div class="card-body">
                    Sem Simuladores Adicionados
                </div>
            </div>
        {% endif %}
        <a data-toggle="modal" data-target="#discountModal" class="btn btn-success btn-icon-split">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
            <span class="text">Simulador</span>
        </a>
        </div>
    </div>
    <div>
        <div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="ingredientModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ingredientModalLabel">Quantidade de Ingrediente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load bootstrap %}
                        <form method="post"  action="/percent-ingredient-create/{{ product.id }}">
                            {{ percent_ingredient_form|bootstrap}}
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="materialModal" tabindex="-1" role="dialog" aria-labelledby="materialModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="materialModalLabel">Quantidade de Material/Embalagem</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load bootstrap %}
                        <form method="post"  action="/percent-material-create/{{ product.id }}">
                            {{ percent_material_form|bootstrap}}
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="laborModal" tabindex="-1" role="dialog" aria-labelledby="laborModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="laborModalLabel">Mão de Obra</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load bootstrap %}
                        <form method="post"  action="/percent-labor-create/{{ product.id }}">
                            {{ percent_labor_form|bootstrap}}
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="costModal" tabindex="-1" role="dialog" aria-labelledby="costModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="costModalLabel">Custo Fixo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load bootstrap %}
                        <form method="post"  action="/percent-cost-create/{{ product.id }}">
                            {{ percent_cost_form|bootstrap}}
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="discountModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="discountModalLabel">Simulador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load bootstrap %}
                        <form method="post"  action="/percent-discount-create/{{ product.id }}">
                            {{ percent_discount_form|bootstrap}}
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="quantityModal" tabindex="-1" role="dialog" aria-labelledby="quantityModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="quantityModalLabel">Quantidade</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load bootstrap %}
                        <form method="post"  action="/product-quantity-update/{{ product.id }}">
                            {{ product_quantity_update_form|bootstrap}}
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="profitModal" tabindex="-1" role="dialog" aria-labelledby="profitModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="profitModalLabel">Quantidade</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load bootstrap %}
                        <form method="post"  action="/product-profit-update/{{ product.id }}">
                            {{ product_profit_update_form|bootstrap}}
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}