{% extends "base.html" %}
{% block content %}
{% load mathfilters %}
<h1 class="h3 mb-2 text-gray-800">Produtos</h1>
<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Produto {{ product.name }}</h6>
    </div>
    <div class="card-body">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Preço de Venda (Unidade)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">${{price_unity}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="margin-top:5px">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Ingrediente</th>
                        <th scope="col">Custo Total (R$)</th>
                        <th scope="col">Acoes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for percent_ingredient in percent_ingredients%}
                    <tr>
                        <td>{{ percent_ingredient.ingredient.name }}</td>
                        <td> {{percent_ingredient.percent|div:percent_ingredient.ingredient.quantity|mul:percent_ingredient.ingredient.price }}</td>
                        <td>
                                <a type="button" class="btn btn-danger" href="/percent-ingredient-delete/{{ percent_ingredient.id }}"> <i class="fas fa-trash"></i></a></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Materiais</th>
                        <th scope="col">Custo com os Materiais (R$)</th>
                        <th scope="col">Acoes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for percent_material in percent_materials %}
                    <tr>
                        <td>{{ percent_material.material.name }}</td>
                        <td> {{percent_material.percent|div:percent_material.material.quantity|mul:percent_material.material.price }}</td>
                         <td>
                                <a type="button" class="btn btn-danger" href="/percent-material-delete/{{ percent_material.id }}"> <i class="fas fa-trash"></i></a></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th scope="col">Mão de Obra</th>
                        <th scope="col">Outros Custos (R$)</th>
                        <th scope="col">Custos Incalculáveis (R$)</th>
                        <th scope="col">Taxa de Marketplace %</th>
                        <th scope="col">Impostos (R$)</th>
                        <th scope="col">Quantidade Desejada</th>
                        <th scope="col">Lucro Desejado (R$)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{product.labor.salary|div:product.labor.hours}}</td>
                        <td> {{product.another_expenses }}</td>
                        <td> {{product.incalculable_expenses }}</td>
                        <td> {{product.marketplace_tax }}</td>
                        <td> {{product.taxes }}</td>
                        <td> {{product.quantity }}</td>
                        <td> {{product.profit }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a type="button" class="btn btn-success" data-toggle="modal" data-target="#ingredientModal" ><i class="fas fa-plus"> Ingrediente</i></a>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#materialModal" ><i class="fas fa-plus"> Material</i></button>
        <div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="ingredientModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ingredientModalLabel">Quantidade de Ingrediente</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load bootstrap %}
                        <form method="post"  action="/percent-ingredient-create/{{ product.id }}">
                            {{ percent_ingredient_form|bootstrap}}
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="materialModal" tabindex="-1" role="dialog" aria-labelledby="materialModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="materialModalLabel">Quantidade de Material/Embalagem</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% load bootstrap %}
                        <form method="post"  action="/percent-material-create/{{ product.id }}">
                            {{ percent_material_form|bootstrap}}
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock %}